.screen-reader-text {
	clip: rect(1px, 1px, 1px, 1px);
	position: absolute !important;
	height: 1px;
	width: 1px;
	overflow: hidden;
}

.screen-reader-text:hover,
.screen-reader-text:active,
.screen-reader-text:focus {
	border-radius: 3px;
	box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
	clip: auto !important;
	display: block;
	height: auto;
	line-height: normal;
	width: auto;
}

.skip-link {
    position: absolute;
    color: #000;
    top: -40px;
    left: 0;
    background: #fff;
    z-index: 100;
    transition: all 0.3s ease-in-out;
    padding: .5em .5em;
}

.skip-link:focus {
    top: 0px;
}

button:focus, a:focus {
    outline: 2px solid #000;
}