

button {
    background: none;
    border: none;
    font-family: inherit;
    padding: 0px;
    margin: 0px;
    cursor: pointer;
}

li {
    list-style-type: none;
    padding-left: 0;
    margin: 0;
}

ul {
    padding: 0;
    margin: 0;
}

a {
   text-decoration: none;
}

body {
   margin: 0 auto;
   padding: 0;
   color: var(--color-black);
   font-family:  Helvetica, "Gotham", "Montserrat", "Helvetica Neue", Arial, sans-serif;
   animation: bugfix infinite 1s;
   -webkit-animation: bugfix infinite 1s;
   font-size: var(--font-size-base);
}

h1, h2, h3, h4, p {
   margin: 0;
   padding: 0;
}

