.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    border: 0;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    white-space: nowrap;
    clip-path: inset(50%);
}

.hidden {
    display: none;
}

.cursorPointer {
    cursor: pointer;
}