:root {
    //Colors
    --color-black: #19160F;
    --color-gray75: #504D48;
    --color-gray50: #878682;
    --color-gray25: #BEBCBB;
    --color-gray15: #DFDFDE;
    --color-white: #FBFBFB;

    //Typography 
    --font-primary: Helvetica, "Gotham", "Montserrat", "Helvetica Neue", Arial, sans-serif;
    --font-size-base: 16px;
}