
footer.foot{
  background: #000;
  align-items: center;
  padding: 2rem;    
  margin: 0;
}

.footer-copy{
  justify-items: center; 
}

.footer-disclaimer{
  margin: 0;
  text-align: center;
  color: #fff;
  opacity: 0.9;
  line-height: 1.6;
  max-width: 500px;    
  font-size: 0.9rem;   
}




@media screen and (min-width: 75em) {
    .footerSocials {
        ul {
            justify-content: flex-end;
        }
    }
}