body{ margin: 0; }

#site-header{
  background: #000;
  align-items: center;
}

#site-header .logo.header-logo{
  grid-column: 1 / -1;  
  justify-self: center;
  display: block;
  line-height: 0;
  
}

#site-header .header-logo-img{
  width: 140px;
  height: auto;
}
        