h2 {
    font-size: 1.3125em;
}

p {
    font-size: 1em;
    line-height: 1.3125em;
}

@media screen and (min-width: 48em) { 
    h2 {
        font-size: 2em;
    }

    p {
        font-size: 1em;
        line-height: 1.375em;
    }
}

@media screen and (min-width: 75em) { 
    h2 {
        font-size: 3em;
    }

    p {
        font-size: 1em;
        line-height: 1.375em;
    }
}

