/* ___________________________________________

    Guide
___________________________________________ */

/*  
    00. video section
    01. Information Wrapper Section
    02. Movie Section
    03. Review Section

*/    

/* ------------- Video Section -------------*/


#hero-section{
  position: relative;
  width: 100%;
  height: 85vh;  
  overflow: hidden;
}


#hero-section .intro-video{
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 1;
}

#hero-section .cover{
  position: absolute;
  inset: 0;
  z-index: 2;
  background: rgba(0,0,0,0.35);
}


/* ------------- Information Wrapper Section -------------*/

#informationWrapper {
    background-image: url("../images/background-section.png");
    background-size: cover;
    padding: 2em 4em;
}

.intro-text {
    h2 {
        font-size: 4em;
        color: rgb(255, 255, 0);
        margin: .5em 0;
    }

    p {
        color: white;
        margin-bottom: .5em;
        font-size: 2em;
    }
}

.intro-search {
    margin-bottom: 2em;
    input {
        border-radius: 2em;
        padding: .5em 6em .25em .5em;
        background-color: rgba(255, 255, 255, 0.334);
        border: .1em solid black;
        
    }
    input::placeholder {
        color: white;
    }
}

/* ------------- Movie Section -------------*/

#movie-box {
    a {
        font-size: 1em;
        cursor: pointer;
    }
}

#cardWrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    button {
        padding: .5em 1em;
        border-radius: 4em;
        background-color: white;
        margin-top: 2em;
    }

    #movie-box {
        overflow: hidden;
        // position: relative;

        li {
            display: flex;
            flex-direction: column;
            justify-content: center;
            // flex: 0 1 clamp(180px, 22vw, 280px);
            padding: 1em;
            background-color: rgb(37, 36, 36);
            border-radius: .1em;
            margin-bottom: 1em;
            // margin: 2em;
            img {
                margin-bottom: 1em;
                // height: 40%;
            }
            a {
                color: white;
            }
        }
    }
}


/* ------------- Review Section -------------*/

#review-con {
    background-color: rgb(37, 36, 36);
    padding: 2em;
    border-radius: .1em;
    margin-top: 1em;
    color: white;
}

.review-title {
    color: white;
}

.review-director {
    font-weight: bold;
}