/* ___________________________________________

    Guide
___________________________________________ */

/*  
    00. Movie Section

*/    

/* ------------- Movie Section -------------*/

#movie-box {
    a {
        font-size: 1em;
        cursor: pointer;
    }
}
